@page


<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p> Você pode usar os atalhos na barra superior para cadastrar Alunos e Turmas. Para matricular um Aluno em uma Turma, acesse os detalhes da Turma.</p>
    <a href="/swagger" class="btn btn-primary">Acesse a Documentação da API</a>
</div>
